---
import type { HTMLAttributes } from "astro/types";
import type { Color } from "../config/colores";
import { colores } from "../config/colores";

interface Props extends HTMLAttributes<"a"> {
  colorFondo?: Color;
  colorTexto?: Color;
  href?: string;
}

const {
  class: className,
  colorFondo = "azul",
  colorTexto = "blanco",
  href,
  ...atributos
} = Astro.props;

const Tag = href ? "a" : "p";
---

<div>
  <Tag
    href={href || undefined}
    class:list={[className, { "motion-hover": !!href }]}
    {...atributos}
  >
    <slot />
  </Tag>
</div>

<style
  define:vars={{
    colorFondo: colores[colorFondo],
    colorTexto: colores[colorTexto],
  }}
>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p,
  a {
    background: var(--colorFondo);
    color: var(--colorTexto);
    font-size: 1.3em;
    border-radius: 40px;
    padding: 0.6em;
    text-decoration: none;
  }

  a::before,
  p::before {
    content: "✦";
  }
  a::after,
  p::after {
    content: "✦";
  }
</style>
