---
import type { Color } from "../config/colores";
import { colores } from "../config/colores";

interface Props {
  acento?: Color;
  colorFondo?: Color;
  colorTitulo?: Color;
  titulo?: string;
  class: String;
}

const {
  acento = "gris",
  colorFondo = "blanco",
  colorTitulo = "blanco",
  titulo,
  alineado = "inherit",
  class: className,
} = Astro.props;
---

<div class:list={[className, { resaltada: titulo }]}>
  {titulo && <h3>{titulo}</h3>}
  <slot />
</div>

<style
  define:vars={{
    acento: colores[acento],
    colorFondo: colores[colorFondo],
    colorTitulo: colores[colorTitulo],
    alineado: alineado,
  }}
>
  div {
    z-index: 1;
    background-color: var(--colorFondo);
    border-radius: 12px;
    border: 1px solid var(--acento);
    padding: 2rem;
    text-align: var(--alineado);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    position: relative;
  }

  .resaltada {
    z-index: 2;
    border: 2px solid var(--acento);
  }

  h3 {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--acento);
    color: var(--colorTitulo);
    padding: 0.2rem 1rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    white-space: nowrap;
  }
</style>
