---
import { Font } from "astro:assets";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Formulas from "../components/Formulas.astro";

import type { Color } from "../config/colores";
import { colores } from "../config/colores";

interface Props {
  formulas?: boolean;
  title?: string;
}
const { formulas = true, title = "OPF" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-new-cm" />
    <title>OPF</title>
  </head>
  <body>
    <Nav />
    {formulas && <Formulas />}
    <main>
      <slot />
    </main>
    <Footer />
  </body><script>
    import { animate, hover, inView } from "motion";

    hover(".motion-hover", (element) => {
      animate(element, { scale: 1.5 });

      return () => animate(element, { scale: 1 });
    });

    inView(".motion-fadein", (element) => {
      animate(
        element,
        { opacity: [0, 1], y: [15, 0] },
        { duration: 0.5, easing: [0.22, 1, 0.36, 1] },
      );
    });
  </script>
  <style define:vars={{ ...colores }} is:global>
    body {
      background-color: var(--crema);
      color: var(--negro);
      font-family: var(--font-new-cm), Georgia, serif;
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100svh;
    }

    .motion-hover {
      display: inline-block;
    }

    main {
      margin: 1em;
      flex: 1;
      position: relative;
      z-index: 1;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    ul li {
      margin-bottom: 0.8rem;
      padding-left: 1.5rem;
      position: relative;
      line-height: 1.3;
    }

    ul li::before {
      content: "•";
      color: var(--dorado);
      font-size: 1.5rem;
      position: absolute;
      left: 0;
      top: -5px;
    }

    hr {
      border: none;
      border-top: 0.6px solid var(--gris);
      margin: 0.7em 0;
    }
  </style>
</html>
